/* Home.module.css */

/* Main container */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}

/* Description section */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 7.1rem;
  text-align: center;
}

/* Link style */
.description a {
  color: hsl(212, 100%, 31%);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.description a:hover {
  color: hsl(212, 100%, 31%);
}

/* Grid layout for cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

/* Card styles */
.card {
  padding: 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0071da, #00ddff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  color: #040404;
}

.card p {
  font-size: 1.5rem;
  color: #ffffff;
}

/* Centered content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

/* Logo styles */
.logo {
  width: 200px;
  height: auto;
}

/* Media queries */
@media (max-width: 768px) {
  .main {
    padding: 4rem;
  }
  
  .description {
    font-size: 1rem;
  }
  
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .main {
    padding: 2rem;
  }
  
  .description {
    font-size: 0.9rem;
  }
}



